.techinfo-slider{
  margin-left: calc(320px - 50vw);
  width: 100vw;
}

.single-slide{
  align-items: center;
  text-align: center;
}

@media (max-width: 600px) {
  .techinfo-slider{
    margin-left: -2rem;
  }
}